{% load static %}
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="footer-info">
<img src="{% static 'images/logo.png' %}" class="img-fluid" style="height: 12vh"/>
              <p>
                المملكة العربية السعودية<br><br>
                <strong>هاتف:</strong> +1 5589 55488 55<br>
                <strong>البريد الألكترونى:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 footer-links">
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home-page' %}">الرئيسية</a></li>
              <li><i class="bx bx-chevron-right"></i> <a  href="{% url 'contact-page' %}">إتصل بنا</a></li>
              <li><i class="bx bx-chevron-right"></i> <a  href="{% url 'about-page' %}">عن الشركة</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">الشروط و الأحكام</a></li>
            </ul>
          </div>



        </div>
      </div>
    </div>

  </footer>