{% load static %}
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="footer-info">
<img src="{% static 'images/maal.png' %}" class="img-fluid" style="height: 12vh"/>
              <p>
                <p style="width:15rem;">Maaal International Media Company defines economics with a digital vision </p>  <br><br>
                <strong>Phone:</strong> +966 55144 3666<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/maalnews" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://twitter.com/maal_eng" class="twitter"><i class="bx bxl-twitter"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 footer-links">
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://capital.maaal.com">Capital</a></li>
              <li><i class="bx bx-chevron-right"></i> <a  href="https://www.maaal.com">  Maaal</a></li>
              <li><i class="bx bx-chevron-right"></i> <a  href="https://www.en.maaal.com"> Maaal English </a></li>
            </ul>
          </div>



        </div>
      </div>
    </div>

  </footer>