  <!-- ***** Header Area Start ***** -->
  {% load static %}
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'home-index' %}" class="logo maal">
           <img src="{% static 'assets/images/1.png' %}" style="max-width: 4.8rem;" />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="{% url 'home-index' %}"  class="text-black active">الرئيسية</a></li>
              <li><a class="text-black text-bold" href="{% url 'about-page' %}">عن المؤسسة</a></li>
              <li ><a class="text-black text-bold" href="{% url 'services-page' %}">خدمات </a></li>
              <li ><a class="text-black text-bold" href="{% url 'versions-page' %}">إصدارت </a></li>

              <li class="has-sub">
                <a class="text-black text-bold" href="javascript:void(0)">إتصل بنا </a>
                <ul class="sub-menu">
                  <li><a class="text-black text-bold" href="#"> عبر الموقع</a></li>
                  <li><a class="text-black text-bold" href="#"> عبر الواتساب</a></li>
                </ul>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>القائمة</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->