  <!-- ***** Header Area Start ***** -->
  {% load static %}
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'home-page' %}" class="logo maal">
           <img src="{% static 'assets/images/logo.png' %}" style="max-width: 5.8rem;" />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="{% url 'home-page' %}"  class="text-black active">الرئيسية</a></li>
              <li><a class="text-black" href="#">عن المؤسسة</a></li>
              <li class="scroll-to-section"><a class="text-black" href="#apply">خدمات </a></li>
              <li class="has-sub">
                <a class="text-black" href="javascript:void(0)">إتصل بنا</a>
                <ul class="sub-menu">
                  <li><a class="text-black" href="#"> عبر الموقع</a></li>
                  <li><a class="text-black" href="#"> عبر الواتساب</a></li>
                </ul>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>القائمة</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->