  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo maal">
             مال
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">الرئيسية</a></li>
              <li><a href="meetings.html">عن المؤسسة</a></li>
              <li class="scroll-to-section"><a href="#apply">خدمات </a></li>
              <li class="has-sub">
                <a href="javascript:void(0)">إتصل بنا</a>
                <ul class="sub-menu">
                  <li><a href="meetings.html"> عبر الموقع</a></li>
                  <li><a href="meeting-details.html"> عبر الواتساب</a></li>
                </ul>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>القائمة</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->