{% extends 'main.html' %}
{% load static %}

{% block title %}  عن الشركة {% endblock title %}


{% block body %}
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>About Us <span>.</span></h1>
            <p class="text-white">A newspaper specialized in economic affairs issued
In Arabic and English, downloaded within a decade
From the time the title of digital media
The first in the economic field and became a reference
Its news is circulated by local and international news agencies
For its reports, analysis and news
World-class reliability
</p>
        </div>
      </div>

    </div>
  </section>


<section id="features" class="features pt-4">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-4 aos-init aos-animate" style="background-size: auto;border-radius:10px;background-image: url('../../../static/images/maal.png');" data-aos="fade-right"></div>
          <div class="col-lg-8 pt-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
               <h1 class="text-bold text-dark" style="font-weight:800;">
Marketing Communications
               </h1>
              <p class="text-muted text-sm">

Advertising is one of the most important means that you use.
entities and companies to promote their products, but it is not possible
Determining the type and nature of the advertisement without real experience in
Marketing, its plans and mechanisms, strategy and methods.
We offer our decades of experience in services
From building and developing strategies
Marketing of all kinds, starting with
prepare and draw plans with market analysis
needs and target segments, in addition to a study
Product and competitor identification

              </p>
          </div>
        </div>

      </div>
    </section>

<section id="clients" class="features pt-4">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-4 aos-init aos-animate" style="background-size: auto;border-radius:10px;background-image: url('../../../static/images/logo.png');" data-aos="fade-right"></div>
          <div class="col-lg-8 pt-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
               <h1 class="text-bold text-dark" style="font-weight:800;">
Events Management
               </h1>
              <p class="text-muted text-sm">

An effective stay may sound like a thing
Turning any event into a successful event requires a team.
Professional work
We offer the most brilliant competencies in organization and management
All kinds of events (exhibitions - conferences - events -
From the establishment of workshops and celebrations) with all its details, starting with
planning and implementing it, in addition to
The event ball passed through
Marketing sponsorships and professional advertising promotions.

              </p>
          </div>
        </div>

      </div>
    </section>


{% endblock body %}