{% extends 'main.html' %}
{% load static %}

{% block title %}  عن الشركة {% endblock title %}


{% block body %}
  <section id="about_hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>عن الشركة<span>.</span></h1>
        </div>
      </div>

    </div>
  </section>


    <section id="counts" class="counts">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start aos-init aos-animate" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <img src="{%  static 'images/logo.png' %}" class="img-fluid" style="width: 7rem;height: 19vh;">

              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box d-flex">
                    <i class="bi bi-emoji-smile"></i>
                   <div class="d-flex flex-column">
                                          <div class="d-flex flex-column">
                                         <p><strong>عملائنا</strong></p>
                        <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="0" class="purecounter">65</span>
                                          </div>
                   </div>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box d-flex">
                    <i class="bi bi-journal-richtext"></i>
                                         <div class="d-flex flex-column">
                    <p><strong>المشاريع</strong></p>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="0" class="purecounter">85</span>
                                         </div>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box d-flex">
                    <i class="bi bi-clock"></i>
                                         <div class="d-flex flex-column">
                    <p><strong>سنين الخبره</strong></p>
                    <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="0" class="purecounter">35</span>
                                         </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


{% endblock body %}