{% extends 'main.html' %}
{% load static %}

{% block title %}
  عن الشركة
{% endblock %}

{% block body %}
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>عن المؤسسة</h6>
          <h2>مؤسسة مال</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price"></div>
                  <div class="date">
                    <h6 class="text-dark">{% now 'M' %} <span class="text-dark">{% now 'd' %}</span></h6>
                  </div>
                  <video preload="lazy" autoplay muted loop playsinline id="bg-video">
                    <source src="{% static 'assets/images/course-video.mp4' %}" type="video/mp4" />
                  </video>
                </div>
                <div class="down-content">
                  <h4>مقدمة</h4>
                  <p>صـناعـة الإعـلام تـبدأ بـبناء اسـتراتـيجية إعـلامـية واضـحة دد خــــطوات الــــعمل تــــنتج عــــنها خــــطة مــــحكمة تحــــ ّ بـوضـوح ومـوضـوعـية ، يـقود نـجاحـها عـلاقـات إعـلامـية متينة. نــؤمــن بــأن الــعمل الإعــلامــي هــو عــمل مــؤســساتــي بـامـتياز وأن مـمارسـته كـنظام شـامـل ومـتكامـل هـو مـا تـحتاجـه الشـركـات والـجهات وجـميع الـكيانـات مـن أجـل بناء هيكل إعلامي قوي.</p>

                  <p class="description">صـحيفة مـتخصصة فـي الـشأن الاقـتصادي تـصدر بـالـلغتين الـعربـية والانـكليزيـة، حـملت خـلال عـقد مــن الــزمــن لــقب الــوســيلة الإعــلامــية الــرقــمية ً الأولى في المجال الاقتصادي وأصبحت مرجعا تـتناقـل أخـبارهـا وكـالات الأنـباء المحـلية والـعالـمية لــما تحــظى بــه تــقاريــرهــا وتحــليلاتــها وأخــبارهــا بموثوقية عالمية المستوى</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section class="our-courses" id="courses" style="direction:ltr;">
    <div class="container">
      <div class="row">
            <div class="col-lg-12">
          <div class="section-heading">
            <h2 class="text-center">خدمات مال</h2>
          </div>
        </div>
               <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <div class="down-content">
             <h5 class="text-maal">الاتصالات التسويقية</h5>
           <p class="text-white">عد الإعـــلان أحـــد أهـــم الـــوســـائـــل الـــتي تســـتخدمـــها يـــ ّ الــجهات والشــركــات لــترويــج مــنتجاتــها ، ولــكن لا يــمكن تحـديـد نـوع الإعـلان ومـاهـيته دون خـبرة حـقيقية فـي التسويق ، خططه وآلياته ، استراتيجيته وأساليبه. نــــقدم خــــبراتــــنا عــــلى مــــدى عــــقود فــــي الخــــدمــــات مـن بـناء وتـطويـر الإسـتراتـيجيات ً الـتسويـقية بـأنـواعـها بـدءا إلــــــى إعــــــداد ورســــــم الخــــــطط مــــــع تحــــــليل الــــــسوق والاحـتياجـات .</p>

                <div class="info">
                  <div class="row">
                    <div class="col-12 mx-auto">
                      <img class="mx-auto" src="{% static 'assets/images/bg_5.jpg' %}" style="max-width: 8.5rem;" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="down-content">
           <h5 class="text-maal">تنظيم المعارض</h5>
                        <p class="text-white">سهــ ًلا فــي الــبدايــة ولــكن ً إقــامــة فــعالــية قــد يــبدو أمــرا تـحويـل أي فـعالـية إلـى حـدث نـاجـح هـو أمـر يـتطلب فـريـق عمل محترف. نــــقدم فــــي مــــال أبــــرع الــــكفاءات فــــي تــــنظيم وإدارة الأحــداث بــأنــواعــها(مــعارض- مــؤتــمرات - فــعالــيات - مـن إنـشاء ً ورشعـمل - احـتفالـيات) بـكل تـفاصـيلها بـدءا بتخــطيطه وتــنفيذه وإضــافــة إلــى ً فــكرة الحــدث مــرورا تسويق الرعايات والترويج الإعلاني الاحترافي.</p>
                <div class="info">
                  <div class="row">
                    <div class="col-12 mx-auto">
                      <img class="mx-auto" src="{% static 'assets/images/bg_2.jpg' %}" style="max-width: 8.5rem;" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="down-content">
                   <h5 class="text-maal"> الإنتاج التلفزيوني  </h5>
                             <p class="text-white"> تصوير مقطع فيديو أمر سهل جداً باستعمال هاتف
ذكي ، إلا أن صناعة فيلم مميّز هو رؤية وموهبة مع
مجموعة كبيرة من المعدات والكاميرات وفريق عمل
مختص.
نقدم جميع خدمات التصوير والإنتاج التلفزيوني
لعملائنا كالأفلام الوثائقية والإعلانات التلفزيونية
وإعداد وتنفيذ اللقاءات الحوارية والبرامج المتلفزة.</p>
                <div class="info">
                  <div class="row">
                    <div class="col-12 mx-auto">
                      <img class="mx-auto" src="{% static 'assets/images/bg_7.jpg' %}" style="max-width: 8.5rem;" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="down-content">
         <h5 class="text-maal"> مركز الأبحاث والدراسات</h5>
                        <p class="text-white">أسست شركة مال الإعلامية الدولية
مركز دراسات وأبحاث لجمع البيانات
وتوفير المعلومات وعمل القراءات
ووضع الأساسات ليكون شريكاً فاعلاً ،
ومصدراً موثوقاً يمكن الاعتماد عليه
في المساهمة بتسريع الخطى للشركات
نحو المستقبل بوتيرة ثابتة ومتقنة.</p>
                <div class="info">
                  <div class="row">
                    <div class="col-12 mx-auto">
                      <img class="mx-auto" src="{% static 'assets/images/bg_3.jpg' %}" style="max-width: 8.5rem;" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
               <div class="col-lg-12 mx-auto" style="margin: 0 auto;">
              <div class="main-button-red">
                <a href="{% url 'home-page' %}">الرجوع للصفحة الرئيسية</a>
              </div>
      </div>
    </div>
    </section>


{% endblock %}
