{% extends 'main.html' %}
{% load static %}
{% block title %}
  الصفحة الرئيسية
{% endblock %}

{% block body %}
  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
    <video preload="lazy" autoplay muted loop playsinline id="bg-video">
      <source src="{% static 'assets/images/course-video.mp4' %}" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="caption">
              <h6>أهلا بك</h6>
              <div class="main-button-red">
                <div class="scroll-to-section">
                  <a href="#contact">عن مال</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->
  <section class="services" style="direction: ltr;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
            <div class="item">
              <div class="icon">
                <span class="badge badge-primary">إعلام وصحافة</span>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <span class="badge badge-primary">علاقات عامة</span>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <span class="badge badge-primary">اتصالات تسويقية</span>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <span class="badge badge-primary">إنتاج تلفزيوني</span>
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <span class="badge badge-primary">تنظيم معارض</span>
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <span class="badge badge-primary">أبحاث ودراسات</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3 class="font-home-title">مقدمة</h3>
                <p class="font-home-subtitle" class="text-white text-bold">صـناعـة الإعـلام تـبدأ بـبناء اسـتراتـيجية إعـلامـية واضـحة دد خــــطوات الــــعمل تــــنتج عــــنها خــــطة مــــحكمة تحــــ ّ بـوضـوح ومـوضـوعـية ، يـقود نـجاحـها عـلاقـات إعـلامـية متينة. نــؤمــن بــأن الــعمل الإعــلامــي هــو عــمل مــؤســساتــي بـامـتياز وأن مـمارسـته كـنظام شـامـل ومـتكامـل هـو مـا تـحتاجـه الشـركـات والـجهات وجـميع الـكيانـات مـن أجـل بناء هيكل إعلامي قوي.</p>
                <div class="main-button-red">
                  <div class="scroll-to-section">
                    <a class="font-home-subtitle" href="{% url 'about-page' %}">المزيد</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>خدمات مال</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>خدمات </h4>
            <ul class="d-flex flex-column">
                 <li>
                <a href="#">صحافة واعلام </a>
              </li>
                 <li>
                <a href="#">تنظيم المعارض </a>
              </li>
              <li>
                <a href="#">الاتصالات التسويقية</a>
              </li>
              <li>
                <a href="#">مركز الأبحاث والدراسات </a>
              </li>
              <li>
                <a href="#">العلاقات العامة</a>
              </li>
            </ul>
            <div class="main-button-red">
              <a href="{% url 'services-page' %}">المزيد</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <img src="{% static 'assets/images/bg_5.jpg' %}" alt="New Lecturer Meeting" />
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6 >{% now 'M' %} <span>{% now 'd' %}</span></h6>
                  </div>
             <h5 class="text-maal">الاتصالات التسويقية</h5>
                        <p>عد الإعـــلان أحـــد أهـــم الـــوســـائـــل الـــتي تســـتخدمـــها يـــ ّ الــجهات والشــركــات لــترويــج مــنتجاتــها ، ولــكن لا يــمكن تحـديـد نـوع الإعـلان ومـاهـيته دون خـبرة حـقيقية فـي التسويق ، خططه وآلياته ، استراتيجيته وأساليبه. نــــقدم خــــبراتــــنا عــــلى مــــدى عــــقود فــــي الخــــدمــــات مـن بـناء وتـطويـر الإسـتراتـيجيات ً الـتسويـقية بـأنـواعـها بـدءا إلــــــى إعــــــداد ورســــــم الخــــــطط مــــــع تحــــــليل الــــــسوق والاحـتياجـات والشـرائـح المسـتهدفـة وإضـافـة إلـى دراسـة المنتج وتحديد المنافسين.</p>

                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <img src="{% static 'assets/images/bg_2.jpg' %}" alt="New Lecturer Meeting" />
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6 >{% now 'M' %} <span>{% now 'd' %}</span></h6>
                  </div>
                    <h5 class="text-maal">تنظيم المعارض</h5>
                        <p>سهــ ًلا فــي الــبدايــة ولــكن ً إقــامــة فــعالــية قــد يــبدو أمــرا تـحويـل أي فـعالـية إلـى حـدث نـاجـح هـو أمـر يـتطلب فـريـق عمل محترف. نــــقدم فــــي مــــال أبــــرع الــــكفاءات فــــي تــــنظيم وإدارة الأحــداث بــأنــواعــها(مــعارض- مــؤتــمرات - فــعالــيات - مـن إنـشاء ً ورشعـمل - احـتفالـيات) بـكل تـفاصـيلها بـدءا بتخــطيطه وتــنفيذه وإضــافــة إلــى ً فــكرة الحــدث مــرورا تسويق الرعايات والترويج الإعلاني الاحترافي.</p>

                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
               <img src="{% static 'assets/images/bg_7.jpg' %}" alt="New Lecturer Meeting" />
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6 >{% now 'M' %} <span>{% now 'd' %}</span></h6>
                  </div>
                                    <h5 class="text-maal"> الإنتاج التلفزيوني  </h5>
                             <p class="text-white"> تصوير مقطع فيديو أمر سهل جداً باستعمال هاتف
ذكي ، إلا أن صناعة فيلم مميّز هو رؤية وموهبة مع
مجموعة كبيرة من المعدات والكاميرات وفريق عمل
مختص.
نقدم جميع خدمات التصوير والإنتاج التلفزيوني
لعملائنا كالأفلام الوثائقية والإعلانات التلفزيونية
وإعداد وتنفيذ اللقاءات الحوارية والبرامج المتلفزة.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
               <img src="{% static 'assets/images/bg_3.jpg' %}" alt="New Lecturer Meeting" />
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6 >{% now 'M' %} <span>{% now 'd' %}</span></h6>
                  </div>
                                <h5 class="text-maal"> مركز الأبحاث والدراسات</h5>
                        <p>أسست شركة مال الإعلامية الدولية
مركز دراسات وأبحاث لجمع البيانات
وتوفير المعلومات وعمل القراءات
ووضع الأساسات ليكون شريكاً فاعلاً ،
ومصدراً موثوقاً يمكن الاعتماد عليه
في المساهمة بتسريع الخطى للشركات
نحو المستقبل بوتيرة ثابتة ومتقنة.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="meeting-item">
                <div class="thumb">
               <img src="{% static 'assets/images/pr.jpg' %}" alt="New Lecturer Meeting" />
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6 >{% now 'M' %} <span>{% now 'd' %}</span></h6>
                  </div>
                                <h5 class="text-maal">               العلاقات العامة
  </h5>
                                      <p >تــقوم الــعلاقــات الــعامــة عــلى أســسرئيســية ، تــجتمع لــتك ّ نظام عمل مثمر. نـعمل مـع عـملائـنا عـلى بـناء بـرامـج اسـتراتـيجية الـعلاقـات الـعامـة مـنذ الـبدايـة ، صـياغـة الخـطط والسـياسـات ، وتـنفيذهـا بـما يـحقق مصالحهم. نــقدم جــميع خــدمــاتــنا بــما فــيها الــمراكــز الإعــلامــية الاحــترافــية وبــرامــج الــمسؤولــية الاجــتماعــية وخــطط الــتواصــل الــداخــلي ، إضـافـة إلـى قـسم نشـر مـتخصصيـبرع فـي إعـداد الـتقاريـر الـسنويـة للشركات والمجلات المختصة والنشرات الإعلامية والتحليلية.</p>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses" style="direction:ltr;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading" style="direction:rtl;">
            <h2 class="text-white">اعمال نفخر بها</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <div class="down-content">
                <h4 class="text-white">مال العربية</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-12 mx-auto">
                      <img class="mx-auto" src="{% static 'assets/images/logo.png' %}" style="max-width: 4.5rem;" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="down-content">
                <h4 class="text-white">مال مدينة</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-12 mx-auto">
                      <img class="mx-auto" src="{% static 'assets/images/madena.png' %}" style="max-width: 4.5rem;" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="down-content">
                <h4 class="text-white">مال كابيتال</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-12 mx-auto">
                      <img class="mx-auto" src="{% static 'assets/images/capital.png' %}" style="max-width: 4.5rem;" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="down-content">
                <h4 class="text-white">مال</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-12 mx-auto">
                      <img class="mx-auto" src="{% static 'assets/images/maal.png' %}" style="max-width: 4.5rem;" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>أرقام تميزنا</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">94</div>
                    <div class="count-title">رضاء القراء</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">4</div>
                    <div class="count-title">اصدرات</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">2345</div>
                    <div class="count-title">صحفى</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">32</div>
                    <div class="count-title">جائزة</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src="{% static 'assets/images/play-icon.png' %}" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
