{% extends 'main.html' %}
{% load static %}

{% block title %}
  خدمات
{% endblock %}

{% block body %}
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6> خدمات</h6>
          <h2>مؤسسة مال</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price"></div>
                  <div class="date">
                    <h6 class="text-dark">{% now 'M' %} <span class="text-dark">{% now 'd' %}</span></h6>
                  </div>
                  <video preload="lazy" autoplay muted loop playsinline id="bg-video">
                    <source src="{% static 'assets/images/course-video.mp4' %}" type="video/mp4" />
                  </video>
                </div>
                <div class="down-content">
                  <h4>مقدمة</h4>
                  <p>صـناعـة الإعـلام تـبدأ بـبناء اسـتراتـيجية إعـلامـية واضـحة دد خــــطوات الــــعمل تــــنتج عــــنها خــــطة مــــحكمة تحــــ ّ بـوضـوح ومـوضـوعـية ، يـقود نـجاحـها عـلاقـات إعـلامـية متينة. نــؤمــن بــأن الــعمل الإعــلامــي هــو عــمل مــؤســساتــي بـامـتياز وأن مـمارسـته كـنظام شـامـل ومـتكامـل هـو مـا تـحتاجـه الشـركـات والـجهات وجـميع الـكيانـات مـن أجـل بناء هيكل إعلامي قوي.</p>

      <div class="col-lg-12 pt-4">
          <div class="accordions is-first-expanded">
            <article class="accordion">
              <div class="accordion-head">
                <span class="text-maal font-home-title" >صحيفة مال</span>
                <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <p class="text-white font-home-subtitle">صـحيفة مـتخصصة فـي الـشأن الاقـتصادي تـصدر بـالـلغتين الـعربـية والانـكليزيـة، حـملت خـلال عـقد مــن الــزمــن لــقب الــوســيلة الإعــلامــية الــرقــمية ً الأولى في المجال الاقتصادي وأصبحت مرجعا تـتناقـل أخـبارهـا وكـالات الأنـباء المحـلية والـعالـمية لــما تحــظى بــه تــقاريــرهــا وتحــليلاتــها وأخــبارهــا بموثوقية عالمية المستوى.</p>
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-head">
                <span class="text-maal font-home-title">الاتصالات التسويقية</span>
                <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <p class="text-white font-home-subtitle">عد الإعـــلان أحـــد أهـــم الـــوســـائـــل الـــتي تســـتخدمـــها يـــ ّ الــجهات والشــركــات لــترويــج مــنتجاتــها ، ولــكن لا يــمكن تحـديـد نـوع الإعـلان ومـاهـيته دون خـبرة حـقيقية فـي التسويق ، خططه وآلياته ، استراتيجيته وأساليبه. نــــقدم خــــبراتــــنا عــــلى مــــدى عــــقود فــــي الخــــدمــــات مـن بـناء وتـطويـر الإسـتراتـيجيات ً الـتسويـقية بـأنـواعـها بـدءا إلــــــى إعــــــداد ورســــــم الخــــــطط مــــــع تحــــــليل الــــــسوق والاحـتياجـات والشـرائـح المسـتهدفـة وإضـافـة إلـى دراسـة المنتج وتحديد المنافسين.</p>
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-head">
                <span class="text-maal font-home-title">تنظيم المعارض</span>
                <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <p class="text-white font-home-subtitle">سهــ ًلا فــي الــبدايــة ولــكن ً إقــامــة فــعالــية قــد يــبدو أمــرا تـحويـل أي فـعالـية إلـى حـدث نـاجـح هـو أمـر يـتطلب فـريـق عمل محترف. نــــقدم فــــي مــــال أبــــرع الــــكفاءات فــــي تــــنظيم وإدارة الأحــداث بــأنــواعــها(مــعارض- مــؤتــمرات - فــعالــيات - مـن إنـشاء ً ورشعـمل - احـتفالـيات) بـكل تـفاصـيلها بـدءا بتخــطيطه وتــنفيذه وإضــافــة إلــى ً فــكرة الحــدث مــرورا تسويق الرعايات والترويج الإعلاني الاحترافي.</p>
                </div>
              </div>
            </article>
            <article class="accordion last-accordion">
              <div class="accordion-head">
                <span class="text-maal font-home-title">العلاقات العامة</span>
                <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <p class="text-white font-home-subtitle">تــقوم الــعلاقــات الــعامــة عــلى أســسرئيســية ، تــجتمع لــتك ّ نظام عمل مثمر. نـعمل مـع عـملائـنا عـلى بـناء بـرامـج اسـتراتـيجية الـعلاقـات الـعامـة مـنذ الـبدايـة ، صـياغـة الخـطط والسـياسـات ، وتـنفيذهـا بـما يـحقق مصالحهم. نــقدم جــميع خــدمــاتــنا بــما فــيها الــمراكــز الإعــلامــية الاحــترافــية وبــرامــج الــمسؤولــية الاجــتماعــية وخــطط الــتواصــل الــداخــلي ، إضـافـة إلـى قـسم نشـر مـتخصصيـبرع فـي إعـداد الـتقاريـر الـسنويـة للشركات والمجلات المختصة والنشرات الإعلامية والتحليلية.</p>
                </div>
              </div>
            </article>
                      <article class="accordion last-accordion">
              <div class="accordion-head">
                <span class="text-maal font-home-title">                  مركز الأبحاث والدراسات</span>
                <span class="icon"><i class="icon fa fa-chevron-right"></i></span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <p class="text-white font-home-subtitle">أسست شركة مال الإعلامية الدولية
مركز دراسات وأبحاث لجمع البيانات
وتوفير المعلومات وعمل القراءات
ووضع الأساسات ليكون شريكاً فاعلاً ،
ومصدراً موثوقاً يمكن الاعتماد عليه
في المساهمة بتسريع الخطى للشركات
نحو المستقبل بوتيرة ثابتة ومتقنة.
                  </p>
<img src="{% static 'assets/images/study_preview.png' %}" class="img-fluid"/>
                </div>
              </div>
            </article>

          </div>
        </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{% url 'home-page' %}">الرجوع للصفحة الرئيسية</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
